 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Symphony is a flexible and extensible MATLAB-based electrophysiology data acquisition system. It provides a framework for writing high-level acquisition routines and an interface to conduct well-organized experiments.</p>
                </div>
                <div class="col-lg-4">
                    <p>Symphony was originally developed as a product of Physion LLC. The project is now developed and maintained by the Symphony-DAS GitHub organization. Primary contributors include The Rieke Lab, The Murphy Lab, and Physion LLC.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{ site.github }}" class="btn btn-lg btn-outline">
                        <i class="fa"></i> View on GitHub
                    </a>
                </div>
            </div>
        </div>
    </section>
